.container {
    width: 100vw;
    height: 100vh;
    display: block;
    margin: auto;
    justify-content: center;
    align-items: center
}

.pergunta{
    margin-right: 1050px;
}

.redessocias{
    margin-left: 1050px;
    margin-bottom: 5px;
    margin-top: 1%;
}

.email{
    margin-right: 1000px;
}

.telefone{
    margin-inline-end: 1100px;

}

.header {
    background: #2c2c2c;
}

#list1 {
    background: #2c2c2c;
    border: #2c2c2c;
    display: flex;
    flex-wrap: wrap;
}

.minhas-imagens {
    width: 75%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

ul li {
    list-style: none;
}

#icon {
    font-size: 50px;
    color: #37c3b4;
}

footer {
    background: #2c2c2c;
    width: 100vw;
}

#iconFoo {
    color: #6c6c6c;
    font-size: 20px;
}

.redesocial{
    margin-left: 1050px;
    margin-bottom: 5px;
    margin-top: 1%;
}
